.147
_19 {
    overflow: hidden;
}

.e147_19 {
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 2217px;
    height: 6624px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
}

.e147_53 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1820px;
    top: 74px;
}

.e147_54 {
    width: 24px;
    height: 20.000001907348633px;
    position: absolute;
    left: 3.75px;
    top: 7.5px;
}

.147
_55 {
    border: 2px solid rgba(255, 255, 255, 1);
}

.e147_55 {
    width: 24px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 10px;
}

.147
_56 {
    border: 2px solid rgba(255, 255, 255, 1);
}

.e147_56 {
    width: 24px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.147
_57 {
    border: 2px solid rgba(255, 255, 255, 1);
}

.e147_57 {
    width: 24px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 20.000001907348633px;
}

.e147_60 {
    width: 1338px;
    height: 86px;
    position: absolute;
    left: 291px;
    top: 46px;
}

.e147_61 {
    width: 1338px;
    height: 86px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e147_62 {
    width: 1338px;
    height: 86px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e147_63 {
    background-color: rgba(255, 255, 255, 0.20000000298023224);
    width: 1338px;
    height: 86px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e147_86 {
    width: 1762px;
    height: 54px;
    position: absolute;
    left: 2313px;
    top: -91px;
}

.e147_87 {
    width: 54px;
    height: 54px;
    position: absolute;
    left: 1708px;
    top: 0px;
    background-image: url(png_transparent_anonymous_person_login_google_account_computer_icons_user_activity_miscellaneous_computer_monochrome_removebg_preview_modified_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e147_88 {
    color: rgba(255, 255, 255, 1);
    width: 218.67420959472656px;
    height: 29.81333351135254px;
    position: absolute;
    left: 63.3258056640625px;
    top: 8.02667236328125px;
    font-family: Philosopher;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
}

.e147_89 {
    width: 48px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 4.00006103515625px;
    background-image: url(compact_car_png_modified_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e147_90 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 4115px;
    top: -84px;
}

.e147_91 {
    width: 24px;
    height: 20.000001907348633px;
    position: absolute;
    left: 3.75px;
    top: 7.5px;
}

.147
_92 {
    border: 2px solid rgba(255, 255, 255, 1);
}

.e147_92 {
    width: 24px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 10px;
}

.147
_93 {
    border: 2px solid rgba(255, 255, 255, 1);
}

.e147_93 {
    width: 24px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.147
_94 {
    border: 2px solid rgba(255, 255, 255, 1);
}

.e147_94 {
    width: 24px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 20.000001907348633px;
}

.e147_95 {
    width: 1006.0086669921875px;
    height: 398.8666687011719px;
    position: absolute;
    left: 2701px;
    top: -453.8666687011719px;
}

.e147_96 {
    width: 726.0086669921875px;
    height: 398.8666687011719px;
    position: absolute;
    left: 280px;
    top: 0px;
}

.e147_97 {
    color: rgba(255, 255, 255, 1);
    width: 195px;
    height: 28px;
    position: absolute;
    left: 0px;
    top: 370.8666687011719px;
    font-family: Lato;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    line-height: px;
}

.e147_98 {
    background-color: rgba(255, 255, 255, 1);
    width: 19.398752212524414px;
    height: 58.8799934387207px;
    position: absolute;
    left: 706.6099243164062px;
    top: 0px;
}

.e147_99 {
    width: 618.0338134765625px;
    height: 398.8666687011719px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e147_100 {
    width: 618.0338134765625px;
    height: 398.8666687011719px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e147_101 {
    color: rgba(255, 255, 255, 1);
    width: 145px;
    height: 28px;
    position: absolute;
    left: 0px;
    top: 370.8666687011719px;
    font-family: Lato;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    line-height: px;
}

.e147_102 {
    background-color: rgba(255, 255, 255, 1);
    width: 19.398752212524414px;
    height: 58.8799934387207px;
    position: absolute;
    left: 598.6350708007812px;
    top: 0px;
}

.e169_11 {
    width: 940px;
    height: 905px;
    position: absolute;
    left: 1132px;
    top: 517px;
    background-image: url(images/laptophomepage_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e169_18 {
    color: rgba(0, 0, 0, 1);
    width: 462px;
    height: 113px;
    position: absolute;
    left: 320px;
    top: 724px;
    font-family: Lalezar;
    text-align: left;
    font-size: 72px;
    letter-spacing: 0;
}

.e169_30 {
    color: rgba(0, 0, 0, 1);
    width: 434px;
    height: 113px;
    position: absolute;
    left: 335px;
    top: 1819px;
    font-family: Lalezar;
    text-align: left;
    font-size: 72px;
    letter-spacing: 0;
}

.e169_22 {
    color: rgba(0, 0, 0, 1);
    width: 474px;
    height: 113px;
    position: absolute;
    left: 1366px;
    top: 1331px;
    font-family: Lalezar;
    text-align: left;
    font-size: 72px;
    letter-spacing: 0;
}

.e169_21 {
    color: rgba(0, 0, 0, 1);
    width: 835px;
    height: 176px;
    position: absolute;
    left: 107px;
    top: 837px;
    font-family: League Spartan;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0;
}

.e169_23 {
    color: rgba(0, 0, 0, 1);
    width: 835px;
    height: 176px;
    position: absolute;
    left: 1185px;
    top: 1456px;
    font-family: League Spartan;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0;
}

.e169_32 {
    color: rgba(0, 0, 0, 1);
    width: 835px;
    height: 220px;
    position: absolute;
    left: 134px;
    top: 1932px;
    font-family: League Spartan;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0;
}

.e169_25 {
    width: 458px;
    height: 458px;
    position: absolute;
    left: 295px;
    top: 1162px;
    background-image: url(images/4284458_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e169_34 {
    width: 1860px;
    height: 1039px;
    position: absolute;
    left: 160px;
    top: 2293px;
    background-image: url(images/photo_2023_08_24_12_13_44_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e169_40 {
    width: 391px;
    height: 391px;
    position: absolute;
    left: 1408px;
    top: 1761px;
    background-image: url(images/4430494_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e176_42 {
    width: 2271px;
    height: 578px;
    position: absolute;
    left: 0px;
    top: -2px;
    background-image: url(images/image_5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e176_49 {
    width: 2206px;
    height: 1901px;
    position: absolute;
    left: -9px;
    top: 3446px;
}

.e176_46 {
    width: 2206px;
    height: 1232px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/image_7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e176_48 {
    width: 646px;
    height: 678px;
    position: absolute;
    left: 778px;
    top: 1223px;
    background-image: url(images/image_8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e176_50 {
    background-color: rgba(102.70833671092987, 102.70833671092987, 102.70833671092987, 1);
    width: 2249px;
    height: 9px;
    position: absolute;
    left: 0px;
    top: 3421px;
}

.e176_51 {
    background-color: rgba(102.70833671092987, 102.70833671092987, 102.70833671092987, 1);
    width: 2249px;
    height: 9px;
    position: absolute;
    left: -25px;
    top: 5413px;
}

.e176_53 {
    width: 3526px;
    height: 1211px;
    position: absolute;
    left: -671px;
    top: 5413px;
    background-image: url(images/image_9.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e176_54 {
    width: 323px;
    height: 294.1971130371094px;
    position: absolute;
    left: 59px;
    top: 118px;
}

.e176_55 {
    width: 235.35769653320312px;
    height: 186.32484436035156px;
    position: absolute;
    left: 44.12957000732422px;
    top: 107.87227630615234px;
    background-image: url(images/compact_car_png_modified_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e176_56 {
    width: 323px;
    height: 294.1971130371094px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e176_57 {
    transform: rotate(30.00000044529205deg);
    width: 71.33778381347656px;
    height: 71.33778381347656px;
    position: absolute;
    left: 261.21966552734375px;
    top: 1.8189894035458565 e-12px;
}

.e176_58 {
    transform: rotate(30.00000044529205deg);
    background-color: rgba(255, 255, 255, 1);
    width: 71.33778381347656px;
    height: 71.33778381347656px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e176_59 {
    transform: rotate(3.1805546814635168 e-15deg);
    width: 71.33778381347656px;
    height: 71.33778381347656px;
    position: absolute;
    left: 122.58213806152344px;
    top: 1.8189894035458565 e-12px;
}

.e176_60 {
    transform: rotate(3.1805546814635176 e-15deg);
    background-color: rgba(255, 255, 255, 1);
    width: 71.33778381347656px;
    height: 71.33778381347656px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e176_61 {
    width: 235.35769653320312px;
    height: 186.32484436035156px;
    position: absolute;
    left: 39.22628402709961px;
    top: 107.87227630615234px;
    background-image: url(images/compact_car_png_modified_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e176_62 {
    transform: rotate(-30.00000044529205deg);
    width: 71.33778381347656px;
    height: 71.33778381347656px;
    position: absolute;
    left: 0px;
    top: 45.4756965637207px;
}

.e176_63 {
    transform: rotate(-30.00000044529205deg);
    background-color: rgba(255, 255, 255, 1);
    width: 71.33778381347656px;
    height: 71.33778381347656px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e176_69 {
    width: 760px;
    height: 129.75608825683594px;
    position: absolute;
    left: 706px;
    top: 6261.244140625px;
}

.e176_70 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(45.33333823084831, 28.182230852544308, 2.4555557733401656, 1);
    width: 658.156982421875px;
    height: 129.75608825683594px;
    position: absolute;
    left: 48.780574798583984px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.176
_70 {
    border: 2px solid rgba(255, 255, 255, 1);
}

.e176_71 {
    color: rgba(255, 255, 255, 1);
    width: 760px;
    height: 51.90243911743164px;
    position: absolute;
    left: 0px;
    top: 48.9267578125px;
    font-family: Montserrat;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0;
    line-height: px;
}
